absl-py
affine
asttokens
astunparse
attrs
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
cligj
colorama
comm
contextily
contourpy
cycler
debugpy
decorator
defusedxml
donfig
et_xmlfile
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fsspec
gast
geographiclib
geopandas
geopy
git-filter-repo
google-crc32c
google-pasta
grpcio
h11
h5py
idna
ImageIO
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
lazy-loader
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mercantile
mistune
ml_dtypes
mpmath
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio2
networkx
numcodecs
numpy
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optree
osmnx
outcome
packaging
pandas
pandocfilters
parso
pathspec
pdfkit
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
Pygments
PyMuPDF
pyogrio
pyparsing
pyproj
PySocks
python-dateutil
python-dotenv
python-pptx
PyYAML
pyzbar
pyzmq
qrcode
rasterio
referencing
requests
rich
rpds-py
scikit-image
scikit-learn
scipy
selenium
setuptools
shapely
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tifffile
torch
torchvision
tornado
tqdm
traitlets
trimesh
trio
trio-websocket
typing_extensions
tzdata
urllib3
uv
wcwidth
webdriver-manager
webencodings
websocket-client
Werkzeug
wheel
wrapt
wsproto
xlsxwriter
xyzservices
zarr
